<!DOCTYPE html>
{% load static %}
<html lang="en">
<head class="scroll-smooth">
  <meta charset="UTF-8">
  <title>MilestoneMemo</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
  <script src="https://kit.fontawesome.com/d47260456e.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>
<body>
  {% block content %}
  {% endblock %}

  <div id="cookie-banner" style="display:none; position:fixed; bottom:0; left:0; width:100%; background:#222; color:#fff; padding:15px; text-align:center; z-index:1000;">
    This website uses cookies to ensure you get the best experience.
    <button onclick="acceptCookies()" style="margin-left:10px; padding:5px 10px;">Got it</button>
  </div>


  <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR-GA-ID"></script>

  <script>
    function acceptCookies() {
      localStorage.setItem('cookiesAccepted', 'true');
      document.getElementById('cookie-banner').style.display = 'none';
    }

    window.onload = function() {
      if (!localStorage.getItem('cookiesAccepted')) {
        document.getElementById('cookie-banner').style.display = 'block';
      }
    };
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'YOUR-GA-ID');
  </script>

</body>
</html>


